body{
    margin: 0;
    background-image:url("Image/image3.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}

a button:link{
    color: #89ff20;
}
a button:active{
    color: #ff252a;
}


.head{
    position: fixed;
    margin-left: 0;
    padding-left: 0;
    border: 0;
    background-color: #009797;
    top: 0px;
    width: 100%;
    height: 80px;
    color: azure;
    text-align: left;
    font-size: 30px;
    animation: x 5s infinite alternate;
    -webkit-animation: x 5s infinite alternate;
}

.content{
    width: 100px;
    height: 500px;
    position: absolute;
    left: 0px;
    top:200px;
    background-color: rgba(42,42,42,0.528);
    text-align: center;
    line-height: 30px;
}

#hismessage,#libmessage,#payrmessage,#nowmessage,#usermessage{
    text-decoration: none;
    color: white;

}

#hismessage:hover,#libmessage:hover,#payrmessage:hover,#nowmessage:hover,#usermessage:hover{
    color: #dbf810;
}

img{
    width: 20px;
    height: 20px;
}

.middle{
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 200px;
    top:200px
}

.middle a{
    text-decoration: none;
}

.middle img{
    width: 30px;
    height: 20px;
    border:solid #eb9b1a;
    border-radius:50% ;
    padding: 10px;
}

.ss{
    z-index: -1;
    position: relative;
    width: 500px;
    height: 100px;
    left: 300px;
    top:150px;
}

.inp{
    height: 20px;
    width: 400px;
}

.ss-btn{
   background-color: white;
}

.first{
    z-index: -1;
    top: 200px;
    left: 200px;
    width: 40px;
    text-align: center;
    font-size: 15px;
}

.first img{
    z-index: -1;
    height:30px;
    width: 100%;
}

.first a{
    z-index: -1;
    text-decoration: none;
}

.second{
    z-index: -1;
    top: 200px;
    left: 300px;
    width: 40px;
    text-align: center;
    font-size: 15px;
}

.second img{
    z-index: -1;
    height:30px;
    width: 100%;
}

.second a{
    z-index: -1;
    text-decoration: none;
}

.third{
    z-index: -1;
    top: 200px;
    left: 400px;
    width: 40px;
    text-align: center;
    font-size: 15px;
}

.third img{
    z-index: -1;
    height:30px;
    width: 100%;
}

.third a{
    z-index: -1;
    text-decoration: none;
}

.forth{
    z-index: -1;
    top: 200px;
    left: 500px;
    width: 40px;
    text-align: center;
    font-size: 15px;
}

.forth img{
    z-index: -1;
    height:30px;
    width: 100%;
}

.forth a{
    z-index: -1;
    text-decoration: none;
}

.fifth{
    z-index: -1;
    top: 200px;
    left: 600px;
    width: 40px;
    text-align: center;
    font-size: 15px;
}

.fifth img{
    z-index: -1;
    height:30px;
    width: 100%;
}

.fifth a{
    z-index: -1;
    text-decoration: none;
}

.first a:hover,.second a:hover,.third a:hover,.forth a:hover,.fifth a:hover{
    transform: scale(0.94);

}
.footer{
    color: azure;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #009797;
}
.mainDiv{

}
.tips{
    z-index: -1;
    width: 300px;
    position: relative;
    left: 25%;
}
.loginTips{
    top:25px;
    right: 0;
    margin-top: 0;
    padding-top: 3px;
    padding-right: 3px ;
    outline-style: dot-dash;
    color: white;
    text-decoration: none;
    position: absolute;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 18px;
}
.userInfo{
    top: 13px;
    position: absolute;
    right: 3%;
}.userInfo p{
     color: azure;
     margin: 0;
    padding: 3px;
    font-size: 17px;
 }
.titleTipsBox{
    position: absolute;
    margin: 0;
    padding:0;
    left: 5%;
    top: 0;
}
.titleTips{
    font-family: 华文楷体;
    margin: 0;
    padding:0;
}
.titleTipsImag{
    padding: 5px;
    margin: 0;
    width: 60px;
    height: 60px;
}
.titleImageBox{
    position: absolute;
}
.titleTipsIn{
    width: 300px;
    position: absolute;
    left: 70px;
}













