<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加图书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" href="../Image/library.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="right-panel" class="right-panel">
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>添加图书</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>添加图书信息</strong>
                </div>
                <div class="card-body card-block">
                    <form action="/Admin/BookManageAddSubmit" method="post" enctype="multipart/form-data" class="form-horizontal" id="update">
                        <div class="row form-group">
                            <div class="col col-md-3"><label class=" form-control-label">图书ISBN编号</label></div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="BookNo" placeholder="13位图书编号" class="form-control" >
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">图书名</label></div>
                            <div class="col-12 col-md-9"><input type="text" name="BookName" class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">作者</label></div>
                            <div class="col-12 col-md-9"><input type="text" name="Author" class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">存放馆室</label></div>
                            <div class="col-12 col-md-9"><input type="text" name="RoomNo"  class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">出版信息</label></div>
                            <div class="col-12 col-md-9"><input type="text" name="PublicInfo"  class="form-control"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">图书类型</label></div>
                            <div class="col-12 col-md-9"><input type="text" name="BType"  class="form-control" placeholder="选填：杂志、文学、参考资料、论文期刊、教材、报纸"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">库存量</label></div>
                            <div class="col-12 col-md-9"><input type="number" name="InBase"  class="form-control"></div>
                        </div>
                    </form>
                    <a class="btn btn-success" style="color: azure;" onclick="document.getElementById('update').submit();">提交</a>
                </div>    
            </div>
        </div>
    </div>
</body>   
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="../vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/table/main.js"></script>
                        
</html>
