<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录界面</title>
    <link href="/AdminLogin.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/Image/library.png">
</head>
<body>
<form class="manage-form" action="/Admin/Check" method="post">
    <input type="text" name="UserNo" placeholder="管理员工号" class="txtmn">
    <input type="password" name="Password" placeholder="密码" class="txtmp">
    <input type="submit" value="登录" class="enter-btn" id="enter">

</form>

</body>
</html>