<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史借阅</title>
    <link href="HistoryLending.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/Image/library.png">
</head>
<body>
<div id="gross">

    <div id="htitle">
        之前阅读过的图书
    </div>

    <div id="hbname">
        之前阅读过的图书<br>
        之前入阅读过的图书

    </div>

    <div id="hauthor">
        作者<br>
        作者
    </div>

    <div id="hdate1">
        借阅日期<br>
        借阅日期
    </div>

    <div id="hdate2">
        归还日期<br>
        归还日期
    </div>

</div>

</body>
</html>