<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/Home.css" type="text/css" rel="stylesheet">
    <title>图书馆管理系统</title>
</head>
<body onload="loginCheck()">
<div class="head">Library Management System</div>

<a id="first-a" href="/Login" target="_self" style="outline-style: dot-dash;
    color: white;
    background-color: lightskyblue;
    text-decoration: none;
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    font-family: sans-serif;
    cursor: pointer;" ><button>登录/注册</button></a>

<a id="second-a" href="/" style="outline-style: dot-dash;
    color: white;
    background-color: lightskyblue;
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    font-family: sans-serif;
    cursor: pointer;"><button>退出</button></a>

<p id="ReaderNo" th:text="${Reader.getReaderNo()}"></p>
<p id="ReaderName" th:text="${Reader.getReaderName()}"></p>

<form hidden action="/MyAccount" method="post" id="message">
    <input type="hidden" name="ReaderNo" th:value="${Reader.getReaderNo()}">
</form>
<form hidden action="/MyBooks" method="get" id="lendingBooks">
    <input type="hidden" name="ReaderNo" th:value="${Reader.getReaderNo()}">
</form>
<form hidden action="/MyHistoryBooks" method="post" id="historyLending">
    <input type="hidden" name="ReaderNo" th:value="${Reader.getReaderNo()}">
</form><form hidden action="/MyCost" method="post" id="cost">
    <input type="hidden" name="ReaderNo" th:value="${Reader.getReaderNo()}">
</form>
<form hidden action="/LibraryRooms" method="get" id="rooms">
    <input type="hidden" name="ReaderNo" th:value="${Reader.getReaderNo()}">
</form>



<div class="content">
    <br><br><br><br><br><br>
    <a id="user_message" onclick="document.getElementById('message').submit()">我的信息</a><br>
    <a id="now_message" onclick="document.getElementById('lendingBooks').submit()">正在借阅</a><br>
    <a id="his_message" onclick="document.getElementById('historyLending').submit()">历史借阅</a><br>
    <a id="pay_message" onclick="document.getElementById('cost').submit()">付费信息</a><br>
    <a id="lib_message" onclick="document.getElementById('rooms').submit()">馆室信息</a><br>
</div>

<div class="ss">
    <form action="" method="post" target="_blank">
        <input type="text" class="inp">
        <input type="submit"  value="搜索" class="ss-btn">
    </form>
</div>

<div class="first">
    <a href="" style="color: black"><img src="/Image/1.png">文学</a>
</div>

<div class="second">
    <a href="" style="color: black"><img src="/Image/2.png">报纸</a>
</div>

<div class="third">
    <a href="" style="color: black"><img src="/Image/3.png">杂志</a>
</div>

<div class="forth">
    <a href="" style="color: black"><img src="/Image/4.png">论文资料</a>
</div>

<div class="fifth">
    <a href="" style="color: black"><img src="/Image/5.png">其他资料</a>
</div>

<script type="text/javascript">
    let readerNo=document.getElementById("ReaderNo").innerHTML;
    let u1=document.getElementById("first-a");
    let u2=document.getElementById("second-a");

    u2.style.visibility="hidden";

    function loginCheck(){
        if(readerNo!==""){
            alert("登录成功");
            u2.style.visibility="visible";
            u1.style.visibility="hidden";
        }
    }
</script>

</body>
</html>