<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/Home.css" type="text/css" rel="stylesheet">
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/icofont.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/Image/library.png">
    <title>加里敦大学图书馆</title>
</head>
<body onload="loginCheck()">
    <div class="head">
        <div class="titleTipsBox">
            <div class="titleImageBox">
                <img src="/Image/libraryIcon.png" class="titleTipsImag">
            </div>
            <div class="titleTipsIn">
                <label class="titleTips">加里敦大学图书馆</label>
                <h5 class="titleTips">Garleton University Library</h5>
            </div>
        </div>
        <div class="jump">
            <a href="#libInfo">馆室信息</a>
            <a  href="#faq">通知</a>
            <a  href="#services">探索</a>
        </div>
        <div class="userInfo">
            <p id="ReaderNo" th:text="${Reader.getReaderNo()}"></p>
            <p id="ReaderName" th:text="${Reader.getReaderName()}" onclick="document.getElementById('message').submit()"></p>
        </div>
        <div>
            <a id="first-a" href="/Login" target="_self" class="loginTips">登录|注册</a>
            <a id="second-a" href="/" class="loginTips">退出</a>
        </div>
    </div>
    <div class="mainDiv">
        <div>
            <form hidden action="/MyAccount" method="post" id="message">
                <input type="hidden" name="ReaderNo" th:value="${Reader.getReaderNo()}">
            </form>
        </div>
        <div class="viewBox">
            <img class="viewImg" src="/Image/slide-2.jpg" >
            <div class="ss">
                <form action="" method="post" target="_blank" id="inputForm">
                    <h4 class="title">检索图书</h4>
                    <input type="text" class="inp" name="input">
                </form>
                <a onclick="submitForm(1)"  class="btn btn-light ss-btn">按书名搜索</a>
                <a onclick="submitForm(0)"  class="btn btn-light ss-btn">按作者搜索</a>
            </div>
        </div>
        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Services</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-notebook"></i></div>
                        <h4 class="title"><a href="">文学</a></h4>
                        <p class="description">诗歌 散文 小说 剧本 寓言 童话</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-book-alt"></i></div>
                        <h4 class="title"><a href="">论文期刊</a></h4>
                        <p class="description">中文期刊 中文会议 外文期刊 外文会议 外文学位 政府科技报告</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-newspaper"></i></div>
                        <h4 class="title"><a href="">报纸</a></h4>
                        <p class="description">中国经济周报合辑 南方时报合辑</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-magento"></i></div>
                        <h4 class="title"><a href="">杂志</a></h4>
                        <p class="description">生活时尚 汽车 航空 科学 人文</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-mathematical"></i></div>
                        <h4 class="title"><a href="">教材</a></h4>
                        <p class="description">十二五国家精选教材 USCC教材</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-file-file"></i></div>
                        <h4 class="title"><a href="">参考资料</a></h4>
                        <p class="description">理科 工科 商学 政治</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq" class="faq section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>通知</h2>
                </div>
                <div class="row  d-flex align-items-stretch">

                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4 th:text=""></h4>
                        <p th:text=""></p>
                    </div>
                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4 th:text=""></h4>
                        <p th:text=""></p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4 th:text=""></h4>
                        <p th:text=""></p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4 th:text=""></h4>
                        <p th:text=""></p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up">
                        <h4 th:text=""></h4>
                        <p th:text=""></p>
                    </div>

                    <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
                        <h4 th:text=""></h4>
                        <p th:text=""></p>
                    </div>
                </div>
            </div>
        </section>
        <section id="libInfo" class="faq section-bg" style="background-color: #6c757d">
            <div class="container">
                <div class="section-title" style="color: azure">
                    <h2>馆室信息</h2>
                </div>
                <div class="row  d-flex align-items-stretch">
                    <div class="col-lg-6 faq-item">
                        <h4>本馆地址</h4>
                        <p>

                        </p>
                    </div>
                    <div class="col-lg-6 faq-item">
                        <h4>本馆工作时间</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>101社会科学阅览室</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>102书报室</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>202</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>301</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>301</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>301</h4>
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-6 faq-item">
                        <h4>301</h4>
                        <p>
                        </p>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <div class="footer">
        <p>Copyright © 山西财经大学|信息学院|17级计算机科学与技术班</p>
        <p>工信部 网备 109000123号</p>
    </div>


</body>
<script type="text/javascript">
    let readerNo=document.getElementById("ReaderNo").innerHTML;
    let u1=document.getElementById("first-a");
    let u2=document.getElementById("second-a");

    u2.style.visibility="hidden";

    function loginCheck(){
        if(readerNo!==""){
            alert("登录成功");
            u2.style.visibility="visible";
            u1.style.visibility="hidden";
        }
    }

    function submitForm(i) {
        let th=document.getElementById('inputForm')
        if(i===1){
            th.action="/SearchByName";
        }
        else {
            th.action="/SearchByAuthor";
        }
        th.submit();
    }
</script>
</html>