<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在借阅</title>
    <link href="Lending.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="all">

    <div id="title">
        正在阅读的书籍
    </div>

    <div id="bname">
        书名<br>
        书名

    </div>

    <div id="author">
        作者<br>
        作者
    </div>

    <div id="date1">
        借阅日期<br>
        借阅日期
    </div>

    <div id="date2">
        归还日期<br>
        归还日期
    </div>

    <div id="day">
        剩余天数<br>
        剩余天数
    </div>


</div>



</body>
</html>