<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的功能</title>
    <link href="MyMessage.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="total">

    <form id="message-form" action="" method="post">
        <label id="user-name-lable">
            我的姓名 <input type="text" placeholder="请输入您的姓名" id="second">
        </label><br>
        <label id="user-age-lable">
            我的年龄<input type="text" placeholder="请输入您的年龄" id="third">
        </label><br>
        <label id="user-sex-lable">
            我的性别 <input type="text" placeholder="请输入您的性别" id="forth">
        </label><br>
        <label id="user-tel-lable">
            我的电话 <input type="text" placeholder="请输入您的电话" id="fifth">
        </label><br>
        <label id="user-iden-lable">
            我的身份 <input type="text" placeholder="请输入您的身份" id="sixth">
        </label><br>
        <label>
            <input type="submit" value="提交" id="seventh" >
        </label>

    </form>


</div>


</body>
</html>