<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员中心</title>
    <link rel="stylesheet" type="text/css" href="../common.css"/>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <script type="text/javascript" src="../js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>选项</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <ul class="sub-menu">
                        <li><a href="/Admin/Index">还借处理</a></li>
                        <li><a href="/Admin/BookManage">图书管理</a></li>
                        <li><a href="/Admin/UserManage">用户管理</a></li>
                        <li><a href="/Admin/RoomsManage">馆室管理</a></li>
                        <li><a href="/Admin/Notice">通知管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="home.html" color="#white">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">用户查询</span></div>
    </div>
<div class="result-wrap">
    <div class="result-content">
        <table class="result-tab" width="100%">
            <tr>
                <th>通知</th>
                <th>通知题目</th>
                <th>通知内容</th>
                <th>操作</th>
            </tr>
            <tr>
                <td class="tc"><input name="id[]" value="" type="checkbox"></td>
                <td>01</td>
                <td>百科全书</td>
                <td>10</td>
                <td>05</td>
                <td>2014</td>
                <td>100元</td>
            </tr>
            <tr>
                <td class="tc"><input name="id[]" value="" type="checkbox"></td>
                <td>01</td>
                <td>百科全书</td>
                <td>10</td>
                <td>05</td>
                <td>2014</td>
                <td>100元</td>
            </tr>
        </table>
    </div>
</div>
</div>
    <!--/main-->
</div>
</body>
</html>