<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>图书馆管理系统注册界面</title>
    <link rel="stylesheet" href="signup.css">
    <script>
        function checkPassword() {
            const password=document.forms['form1']['Password'].values;
            const password2=document.forms['form1']['Password2'].values;
            if(password!==password2){
                alert("两次密码不一致")
            }
        }
    </script>
</head>
<body>
<div class="signup-form">
    <form name="form1" class="" action="http://127.0.0.1:8080/Register/Submit" method="post" onsubmit="checkPassword()">
        <h1>注册账号</h1>
        <input type="text" name="ReaderNo" placeholder="学号/教工号" class="txtb">
        <input type="text" name="ReaderName" placeholder="姓名" class="txtb">
        <input type="text" name="Age" placeholder="年龄" class="txtb">
        <input type="text" name="Sex" placeholder="性别" class="txtb">
        <input type="text" name="Number" placeholder="手机号" class="txtb">
        <input type="password" name="Password" placeholder="密码" class="txtb">
        <input type="password" name="Password2" placeholder="确认密码" class="txtb">
        <input type="text" name="Identities" placeholder="身份" class="txtb">
        <input type="submit" value="创建账号" class="signup-btn" id="signup" >
        <a href="http://127.0.0.1:8080/Login">已有账号？</a>
    </form>
</div>
</body>
</html>
