<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>馆室信息</title>
    <link href="RoomMessage.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="room">
    <div id="rtitle">
        以下为所有馆室的信息
    </div>

    <div id="rname">
        馆室一<br>
        馆室二

    </div>

    <div id="free">
        空闲<br>
        空闲
    </div>

    <div id="buzy">
        忙碌<br>
        忙碌
    </div>

    <div id="bookable">
        <button>预订</button><br>
        <button>预订</button>

    </div>
</div>

</body>
</html>