<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员中心</title>
    <link rel="stylesheet" type="text/css" href="../common.css"/>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <link rel="icon" type="image/png" href="/Image/library.png">
    <script type="text/javascript" src="../js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap">
    <div>
        <p th:text="${'欢迎： '+session.AdminSession.getUserName()}"class="adminInfo"></p>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>选项</h1>
        </div>
        <form hidden method="post" name="form1" id="infoForm">
            <input hidden name="adminName" th:value="${session.AdminSession.getUserName()}">
        </form>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <ul class="sub-menu">
                        <li><a onclick="submitInfo(1)">还借处理</a></li>
                        <li><a onclick="submitInfo(2)">图书管理</a></li>
                        <li><a onclick="submitInfo(3)">用户管理</a></li>
                        <li><a onclick="submitInfo(4)">馆室管理</a></li>
                        <li><a onclick="submitInfo(5)">通知管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><a onclick="submitInfo(1)">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">馆室管理</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <table class="result-tab" width="100%">
                <thead>
                <tr>
                    <th>馆室号</th>
                    <th>名称</th>
                    <th>馆室管理员</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>开放时间</th>
                    <th>其它开放时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="room:${roomList}">
                        <td th:text="${room.getRoomNo()}"></td>
                        <td th:text="${room.getRoomName()}"></td>
                        <td th:text="${room.getRoomUserNo()}"></td>
                        <td th:text="${room.getRoomAddress()}"></td>
                        <td th:text="${room.getTel()}"></td>
                        <td th:text="${room.getTime()}"></td>
                        <td th:text="${room.getTimeSep()}"></td>
                        <td>
                            <a>编辑</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
<script>
    function submitInfo(i) {
        switch (i) {
            case 1: {
                document.form1.action = "/Admin/Index";
                document.form1.submit();
                return true
            }
                break;
            case 2: {
                document.form1.action = "/Admin/BookManage";
                document.form1.submit();
                return true
            }
                break;
            case 3: {
                document.form1.action = "/Admin/UserManage";
                document.form1.submit();
                return true
            }
                break;
            case 4: {
                document.form1.action = "/Admin/RoomsManage";
                document.form1.submit();
                return true
            }
                break;
            case 5: {
                document.form1.action = "/Admin/NoticeManage";
                document.form1.submit();
                return true
            }
                break;
            default:
            {
                alert("Error");
                return false;
            }

        }
    }
</script>
</html>