<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>图书馆管理系统注册界面</title>
    <link rel="stylesheet"  href="Signup.css">
</head>
<body>
<div class="signup-form">
    <form class="" action="Login.html" method="post">
        <h1>注册账号</h1>
        <input type="text" placeholder="姓名" class="txtb">
        <input type="text" placeholder="手机号" class="txtb">
        <input type="password" placeholder="密码" class="txtb">
        <input type="password" placeholder="确认密码" class="txtb">
        <input type="submit" value="创建账号" class="signup-btn" id="signup" >
        <a href="Login.html">已有账号？</a>
    </form>
</div>
</body>
</html>
